.container {
  border: solid 5px #ac8313;
  padding: 5px;
  margin: 5px;
}
.text {
  color: #503d09;
  background-color: #6a8dee;
}
body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #133cac;
}
/* reset containers */
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Times New Roman", "Times", serif;
  color: #cfd8ef;
}
div#header {
  border: solid 5px #ac8313;
  padding: 5px;
  margin: 5px;
  color: #503d09;
  background-color: #6a8dee;
}
div#header h1 {
  color: #133cac;
  font-size: 3em;
  margin: 0;
}
div#content {
  color: #503d09;
  background-color: #6a8dee;
  border: solid 5px #ac8313;
  padding: 5px;
  margin: 5px;
}
